@import "tailwindcss";

:root {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --paper-slider-active-color: linear-gradient(
    to right,
    #f03 80%,
    #ff2791 100%
  );
}

body {
  font-family: var(--font-sans);
  font-size: 16px;
}
